.feature-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .feature-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        gap: 0.3rem;
    }
}

@media screen and (min-width: 768px) {
    .feature-list {
        .feature-item {
            font-size: 1.3rem;
        }
    }
}