.vaccination-list-page {

    .vaccination-card{
        text-decoration: none;
        color: black;
        border-radius: 0.7rem;
        border: 2px solid #3118118e;
        background-color: white;
        margin-bottom: 10px;
        font-family: 'Merriweather', serif;
        font-size: 1rem;
        padding-left: 0.5rem;
        

        .card-info {
            display: flex;
            flex-direction: column;

            h3 {
                font-family: 'Inter', sans-serif;
                margin-bottom: 0;
                font-size: 1.3rem;
            }
            p {
                margin-top: 0.5rem;
            }
            .latest-dose {
                p {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                }
                
            }
        }

    }

    .card-actions {
        position: relative;
        .detail-link {
        text-decoration: none;
        color: black;
        display: flex;
        cursor: pointer;
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        &:hover {
            text-decoration: underline;
        }

        }
    }
}

@media screen and (min-width: 786px) {
    .vaccination-list-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        .vaccination-card {
            width: 100%;
            max-width: 50rem;
        }
    }
}