.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #311811;

    .start-info-wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    
        h2 {
            font-family: "Merriweather", serif;
            font-size: 1.9rem;
            margin: 0;
            margin-top: 1rem;
        }
    
        p {
            max-width: 400px;
            font-size: 1rem;
            font-family: "Inter", sans-serif;
            margin-bottom: 2rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .start-page {
        .start-info-wrapper{
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1.3rem;
            }

        }
    }
}

@media screen and (min-width: 1280px) {
    .start-page {
        flex-direction: row;
        justify-content: space-around;
    }
}