.register-box {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 30rem;
    background-color: white;
    box-shadow: 0 2px 5px #3118118e;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    font-family: 'Merriweather', serif;
        
    h3 {
        font-family: "Merriweather", serif;
        margin-bottom: 0;
        text-align: center;
    }
}


@media screen and (min-width: 1280px) {
    .register-box {
        min-width: 26rem;
        min-height: 12rem;
    }
}