.breadcrumb {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    
    .breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.15rem;
    font-family: 'Merriweather', serif;

        .breadcrumb-item {
            display: flex;
            align-items: center;

            .breadcrumb-link {
            color: #311811; 
            text-decoration: none;
            font-size: 0.95rem;

            &:hover {
                text-decoration: underline;
            }
            }

            .breadcrumb-current {
            color: #3118118e;
            font-weight: 500;
            font-size: 0.95rem;
            }

            .breadcrumb-separator {
            margin: 0 0.5rem;
            color: #3118118e;
            }

        }
    }

}