.add-vaccination-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 17rem;
    background-color: white;
    box-shadow: 0 2px 5px #3118118e;
    border-radius: 0.7rem;
    padding: 1.5rem 1rem 2rem;
    font-family: 'Merriweather', serif;


    label {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        gap: 0.5rem;

        .hint{
            font-size: 0.7rem;
            color: red;
        }
    }

    input,
    textarea {
        min-width: 15rem;
        height: 2rem;
        border-radius: 0.7rem;
        border: 2px solid #3118118e;
        padding: 0 0.5rem;
        font-family: inherit;
    }

    textarea {
        height: auto;
        min-height: 4rem;
        resize: vertical;
    }

    .dose-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        width: 17rem;
        label{
            min-width: 5rem;
            max-width: 8rem;
            
            input {
                min-width: 5rem;
            }
        }
    }

    .reminder {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        input {
        min-width: 1.5rem;
        height: 1.5rem;
        }
    }

    button {
        margin-top: 1rem;
    }
    }

    @media screen and (min-width: 768px) {
    .add-vaccination-form {
        width: 33rem;

        input,
        textarea {
        min-width: 23rem;
        }

        .dose-container {
            width: 33rem;
        }
    }
}
