.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 21rem;
    background-color: white;
    box-shadow: 0 2px 5px #3118118e;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    font-family: 'Merriweather', serif;

    h2 {
        text-align: center;
    }

    label {
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        gap: 0.5rem;
        width: 15rem;
        
        input {
            min-width: 15rem;
            height: 2rem;
            border-radius: 0.7rem;
            border: 2px solid #3118118e;
            font-size: 1rem;
        } 


        .input-error {
            border: 2px solid red;
        }
    }

    .demo-subtle {
        p {
            text-align: center;
            font-size: 1rem;
            margin-left: 0.2rem;
            margin-right: 0.2rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .register-form {
        width: 30rem;

        input {
            min-width: 20rem;
        }
    }
}