
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcome-info {
        text-align: center;
        font-family: 'Merriweather', serif;
        max-width: 35rem;
    }
}