.link {
    text-decoration: none;
}

h2 {
        font-family: 'Merriweather', serif;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-error {
        color: red;
        font-size: small;
        font-size: 0.7rem;
    }