* {
    box-sizing: border-box;

}

.link {
    text-decoration: none;
}

h2 {
        font-family: 'Merriweather', serif;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-error {
        color: red;
        font-size: 0.9rem;
}

.hint {
    font-size: 0.8rem;
}

input[type="date"] {
    -webkit-appearance: none;
    appearance: none;
}