.edit-main-vaccination-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: 'Merriweather', serif;
    
    label {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        gap: 0.5rem;
        min-width: 5rem;

        input {
        min-width: 15rem;
        height: 2rem;
        border-radius: 0.7rem;
        border: 2px solid #3118118e;
        padding: 0 0.5rem;
        font-family: inherit;
        }
    }

}