.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;

    .btn-container {
        display: flex;
        gap: 0.5rem;

    }

}