.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 1rem;
    background-color: #311811;
    color: #FAF9F5;
}