.login-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0 2px 5px #3118118e;
        border-radius: 0.7rem;
        padding-bottom: 2rem;
        font-family: 'Merriweather', serif;
        
    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 19rem;
        gap: 1rem;
    
        h2 {
            text-align: center;
        }
    
        label {
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            gap: 0.5rem;
        }
        input {
            min-width: 15rem;
            height: 2rem;
            border-radius: 0.7rem;
            border: 2px solid #3118118e;
        }
    
        .input-error {
                border: 2px solid red;
            }
    }

    .demo-hint {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 0.4rem;

        p {
            text-align: center;
        }
        .demo-details {
                display: flex;
                flex-direction: column;
        }
    }

}

@media screen and (min-width: 768px) {
    .login-container {
        width: 30rem;
        .login-form {

            input {
                min-width: 20rem;
            }
        }
}

    }
