.logo-container {
    display: flex;
    justify-content: center;
    background-color: #FFDE67;
    min-width: 8rem;
    border-radius: 2.6rem;

    h1 {
        font-family: "Inter", sans-serif;
        font-size: 1.3rem;
        color: black;
    }
}
