.logo-container {
    display: flex;
    justify-content: center;
    background-color: #FFDE67;
    min-width: 8rem;
    border-radius: 2.6rem;

    h1 {
        font-family: "Inter", sans-serif;
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    .logo-container {
        min-width: 9rem;
        border-radius: 2.6rem;

        h1 {
            font-size: 1.5rem;
        }
    } 
}
