.no-vaccinations-page {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;   
    
    .no-vaccination-info {
        display: flex;
        flex-direction: column;
        border-radius: 0.7rem;
        border: 2px solid #3118118e;
        width: 100%;
        height: 50vh;
        max-width: 50rem;
        background-color: white;
        margin-bottom: 1rem;
        padding-left: 0.5rem;


        p {
            font-family: 'Merriweather', serif;
        }

        .add-vaccination-link {
            text-decoration: none;

            .add-vaccination-btn {
                width: 15rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }

}

